@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

.App {
	min-height: 100vh;
	display: grid;
	grid-template-areas: "header header" "main bag";
	gap: 24px 50px;
	background-color: #1D2226;
	font-family: 'Manrope', sans-serif;
  }
  
  .App > header {
	grid-area: header;
  }
  
  .App > main {
	grid-area: main;
  }
  
  .App > .bag {
	grid-area: bag;
	margin-right: 96px;
  }
  
  .content {
	padding-left: 96px;
	padding-bottom: 24px;
	position: relative;
	flex-grow: 1;
  }
  
  .top-movies {
	margin-bottom: 40px;
  }
  
  .top-movies h2, .movies h2 {
	color: #FFF;
	margin-bottom: 16px;
  }
  
  .movies-grid {
	max-width: 937px;
	display: grid;
	grid-template-columns: repeat(auto-fit, 168px);
	gap: 24px;
  }
  
  .movies .search-container {
	display: none;
  }

  * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	font-family: 'Manrope', sans-serif;
	overflow-x: hidden;
  }
  
  html {
	background: #1D2226;
  }